<view on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
<div class="bar bar-dark">
    <h1 class="title">发现</h1>
</div>
<ion-content class="content has-header" style="margin-top: 40px;">
    <ul class="list">
        <li class="item item-divider item-first">

        </li>
        <li class="item item-icon-left item-icon-right">
            <a class="icon ion-aperture"></a><span>朋友圈
        </span>
            <a class="icon ion-ios-arrow-forward"></a>
        </li>
        <li class="item item-divider">

        </li>
        <li class="item item-icon-left item-icon-right">
            <a class="icon ion-qr-scanner"></a><span>扫一扫</span>
            <a class="icon ion-ios-arrow-forward"></a>
        </li>
        <li class="item item-icon-left item-icon-right">
            <a class="icon ion-ios-pint"></a><span>摇一摇</span>
            <a class="icon ion-ios-arrow-forward"></a>
        </li>
        <li class="item item-divider">

        </li>
        <li class="item item-icon-left item-icon-right">
            <a class="icon ion-ios-body"></a><span>附近的人</span>
            <a class="icon ion-ios-arrow-forward"></a>
        </li>
        <li class="item item-icon-left item-icon-right">
            <a class="icon ion-ios-flask-outline"></a><span>漂流瓶</span>
            <a class="icon ion-ios-arrow-forward"></a>
        </li>
        <li class="item item-divider">

        </li>
        <li class="item item-icon-left item-icon-right">
            <a class="icon ion-ios-cart-outline "></a><span>购物</span>
            <a class="icon ion-ios-arrow-forward"></a></a>
        </li><li class="item item-icon-left item-icon-right">
        <a class="icon ion-ios-game-controller-b"></a><span>游戏</span>
        <a class="icon ion-ios-arrow-forward"></a></a>
    </li>
        <li class="item item-divider">

        </li>
        <li class="item item-icon-left item-icon-right">
            <a class="icon ion-ios-infinite-outline"></a><span>小程序</span>
            <a class="icon ion-ios-arrow-forward"></a></a>
        </li>


    </ul>
</ion-content>
</view>




