    <view on-swipe-right="onSwipeRight()">
<div class="bar bar-header bar-dark">
        <h3 class="title">我</h3>
    </div>
    <ion-content>
        <ul class="list" style="margin-top: 44px;">
            <li class="item item-divider"></li>
            <li class="item item-thumbnail-left" style="height: 80px;">
                <img src="img/6.jpg" alt="" style="border-radius:5px;">
                <div style="margin-top: 20px;">
                    <h2>左手倒影</h2>
                    <p style="margin-left: 0px;">微信号：woaini5201314</p>
                    <a href="" class="icon ion-android-apps" style="float: right;margin-top: -40px;margin-right: 15px;font-size: 20px;"></a>
                    <a href="" class="icon ion-ios-arrow-forward" style="float: right;margin-top: -40px;"></a>
                </div>
            </li>
            <li class="item item-divider"></li>

            <li class="item item-icon-left item-icon-right">
                <a class="icon ion-image"></a><span>相册</span>
                <a class="icon ion-ios-arrow-forward"></a>
            </li>

            <li class="item item-icon-left item-icon-right">
                <a class="icon ion-cube"></a><span>收藏</span>
                <a class="icon ion-ios-arrow-forward"></a>
            </li>

            <li class="item item-icon-left item-icon-right">
                <a class="icon ion-heart"></a><span>钱包</span>
                <a class="icon ion-ios-arrow-forward"></a>
            </li>

            <li class="item item-icon-left item-icon-right">
                <a class="icon ion-ios-photos"></a><span>卡包</span>
                <a class="icon ion-ios-arrow-forward"></a>
            </li>

            <li class="item item-divider"></li>

            <li class="item item-icon-left item-icon-right">
                <a class="icon ion-android-happy"></a><span>表情</span>
                <a class="icon ion-ios-arrow-forward"></a>
            </li>

            <li class="item item-divider"></li>

            <li class="item item-icon-left item-icon-right">
                <a class="icon ion-ios-gear"></a><span>设置</span>
                <a class="icon ion-ios-arrow-forward"></a>
            </li>
        </ul>
    </ion-content>
    </view>