<ion-header-bar>
    <h1 class="title">薛之谦</h1>
</ion-header-bar>
<ion-content>
    <ion-list class="item-text-wrap">
        <ion-item>
            <img class="full-image" src="img/2.png" alt="">
            <p>薛之谦（Joker Xue），1983年7月17日出生于上海，华语流行乐男歌手、影视演员、音乐制作人，毕业于格里昂酒店管理学院。
                2005年，因参加选秀节目《我型我秀》而正式出道 。2006年，发行首张同名专辑《薛之谦》，随后凭借歌曲《认真的雪》获得广泛关注。2007年，凭借专辑《你过得好吗》获得MusicRadio中国TOP排行榜内地年度最受欢迎男歌手奖。2008年，发行专辑《深深爱过你》，同年在上海举行个人首场演唱会“谦年传说” 。2013年，专辑《几个薛之谦》获得MusicRadio中国TOP排行榜内地推荐唱。2014年，凭借专辑《意外》获得第21届东方风云榜颁奖最佳唱作人 ；同年他还获得音悦V榜年度盛典年度创作歌手奖 。</p>
        </ion-item>
    </ion-list>
</ion-content>